{{#with celebrity}}
    <h2>{{name}}</h2>
    <h3>{{occupation}}</h3>
    <h3>{{catchPhrase}}</h3>
    <p><a href="/celebrities/{{_id}}/edit">edit celebrity</a></p>
    <p><a href="/celebrities">Return to Celebrities</a></p>
{{/with}}